<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module dist:title="@string/title_snackbar_demo" />

    <application>
        <activity
            android:name=".SnackbarDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_snackbar_demo"
            android:theme="@style/Theme.TheEverythingAndroid" />
    </application>

</manifest>